{{ partial "header" . }}

<main>

    <div class="intro">

        <p><img src="img/myavatar.svg" height="130px" alt=""></p>

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>



    </div>

    <div class="row">

        <img src="img/wall.jpg" width="800" height="400">     

    </div>
</main>

{{ partial "footer" . }}
